.hero__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0 20px;
    @include phones {
        height: 74vh;
    }
}

.hero__downbutton {
    bottom: 4%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    @include phones{
        display: none;
    }
}