.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__item {
    margin-right: 15px;
    margin-bottom: 15px;
}

.tag {
    padding: 13px 21px;
    background: #f1f5f9;
    font-size: 15px;
    font-weight: 600;
    color: rgba(#333C49, .8);
    border-radius: 50px;
}
