.skill-component {
  display: flex;
  align-items: center;
  color: $hover-color;
}

.title {
  font-size: 16px;
  flex: 1;
}

.buttons {
  display: flex;
  align-items: center;
}

.percent {
  margin: 0 30px;
  color: $hover-color;
}

.btn {
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}
